<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" 
                         maxReceivedMessageSize="2147483647"/>
                <binding name="ServiceSoap1" 
                         maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://onsale.veyseloglu.az:8787/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="VeyselogluService.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://onsale.veyseloglu.az:8787/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="ErpWebService.ServiceSoap" name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>